/node_modules
.env
start.sh
/src/Utilities/Storage/Settings/VoiceChannels/vc.json
/src/Utilities/Storage/Settings/Whitelisted/whitelisted.json
/src/Utilities/Storage/Economy/Balance/balance.json
/src/Utilities/Storage/Economy/Bank/bank.json
/src/Utilities/Storage/Economy/Levels/levels.json
/src/Utilities/Storage/Settings/LevelRoles/levelroles.json
/src/Utilities/Storage/Settings/settings.json
/src/Utilities/Storage/Settings/Starboard/starboardsettings.json
/src/Utilities/Storage/Settings/Starboard/Starboard_Ids.json
/src/Utilities/Storage/Settings/LastClaim/lastclaim.json
/src/Utilities/Storage/Settings/Bump/bumpsettings.json
/src/Utilities/Storage/Settings/Bump/bumpcooldown.json
/src/Utilities/Storage/Settings/Bump/lastbump.json
/src/Utilities/Storage/Settings/AI/ai_history.json
/src/Utilities/Storage/Settings/AI/ai_nsfw_training.json
/src/Utilities/Storage/Economy/Shop/shop.json
/src/Utilities/Storage/Economy/Inventory/inventory.json
/src/Utilities/Storage/Settings/Rss/rss.json
/src/Utilities/Storage/Settings/Counting/counting.json
/src/Utilities/Storage/Settings/Counting/countingemojis.json
/src/Utilities/Storage/Settings/Cooldowns/cooldowns.json