/node_modules
.env
start.sh
start.bat
/src/Utilities/Owners/owners.json
/src/Utilities/Storage/Settings/VoiceChannels/vc.json
/src/Utilities/Storage/Settings/Whitelisted/whitelisted.json
/src/Utilities/Storage/Global/Economy/Balance/balance.json
/src/Utilities/Storage/Global/Economy/Bank/bank.json
/src/Utilities/Storage/Levels/levels.json
/src/Utilities/Storage/Levels/levelroles.json
/src/Utilities/Storage/Settings/settings.json
/src/Utilities/Storage/Settings/Starboard/starboardsettings.json
/src/Utilities/Storage/Settings/Starboard/Starboard_Ids.json
/src/Utilities/Storage/Settings/LastClaim/lastclaim.json
/src/Utilities/Storage/Settings/Bump/bumpsettings.json
/src/Utilities/Storage/Settings/Bump/bumpcooldown.json
/src/Utilities/Storage/Settings/Bump/lastbump.json
/src/Utilities/Storage/Settings/AI/ai_history.json
/src/Utilities/Storage/Settings/AI/ai_nsfw_training.json
/src/Utilities/Storage/Shop/shop.json
/src/Utilities/Storage/Inventory/inventory.json
/src/Utilities/Storage/Rss/rss.json